@{
    ViewData["Title"] = "Tasks";
}


@model Covey.Models.Task

<h1>Add a Task</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="TaskName">Task:</label>
        <input asp-for="TaskName" />
        <br />
        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" type="date" />
        <br />

        <label asp-for="Quadrant">Quadrant:</label>
        <select asp-for="Quadrant">
            <option value="">Select a Quadrant</option>
            <option value="1">Important/Urgent</option>
            <option value="2">Important/NOT Urgent</option>
            <option value="3">NOT Important/Urgent</option>
            <option value="4">NOT Important/NOT Urgent</option>

        </select>
        <br />
        <label asp-for="CategoryID">Category:</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryID">@c.CategoryType</option>

            }
        </select>
        <br />
        <input asp-for="Completed" type="hidden" value="false"/>

        <br />
        <button type="submit">Add Task</button>
    </form>
</div>

