@{
    ViewData["Title"] = "Home Page";
}

<h1>Task Manager</h1>
<div class="grid-container">
    <a asp-controller="Home" asp-action="AddTask"><div class="grid-item add"><h3>Add Task</h3></div></a>
    <a asp-controller="Home" asp-action="Quadrants"><div class="grid-item view"><h3>View Tasks</h3></div></a>
</div>
