@{
    ViewData["Title"] = "Home Page";
}

<h1>Task Manager</h1>
<div class="grid-container">
    <a href=""><div class="grid-item add"><h3>Add Task</h3></div></a>
    <a href=""><div class="grid-item view"><h3>View Tasks</h3></div></a>
    @*<a href=""><div class="grid-item delete"><h3>Delete Task</h3></div></a>*@
